{% extends 'app/index.html' %} 


{% load static %}
   {% block one %}
    <div id="abouts">
   <h1 id="abouth1">Find Your Next Tour In India </h1>
   
    <input  id="inp" type="text" placeholder="when would you like to go"/>
   
    </div>
    <div id="main1">
    <div id="first">
      
      <img  id="imgs" src="{% static 'app/image/gate.jpg' %}">
      <h2 id="abouth2">Delhi</h2>
      <button id="btn4">About Delhi</button>
      
      
    </div>
    <div id="first">
      
      <img  id="imgs" src="{% static 'app/image/my3.jpg' %}">
      <h2 id="abouth2">Kashmir</h2>
      <button id="btn4">About Kashmir</button>
      
      
    </div>
    <div id="first">
      
      <img  id="imgs" src="{% static 'app/image/ladhak.jpg' %}">
      <h2 id="abouth2">Ladakh</h2>
      <button id="btn4">About Ladakh</button>
      
      
    </div>
    <div id="first">
      
      <img  id="imgs" src="{% static 'app/image/kullu.jpg' %}">
      <h2 id="abouth2">Kullu Manali</h2>
      <button id="btn4">About Kullu Manali</button>
      
      
    </div>
    <div id="first">
      
      <img  id="imgs" src="{% static 'app/image/skkim.jpg' %}">
      <h2 id="abouth2">Sikkim</h2>
      <button id="btn4">About Sikkim</button>
      
      
    </div>
    <div id="first">
      
      <img  id="imgs" src="{% static 'app/image/nanital.jpg' %}">
      <h2 id="abouth2">Nainital</h2>
      <button id="btn4">About Nainital</button>
      
      
    </div>
    <div id="first">
      
      <img  id="imgs" src="{% static 'app/image/masoori.jpg' %}">
      <h2 id="abouth2">Mussoorie</h2>
      <button id="btn4">About Mussoorie</button>
      
      
    </div>
    <div id="first">
      
      <img  id="imgs" src="{% static 'app/image/ooty.jpg' %}">
      <h2 id="abouth2">Ooty</h2>
      <button id="btn4">About Ooty</button>
      
      
    </div>
    <div id="first">
      
      <img  id="imgs" src="{% static 'app/image/shillong.jpg' %}">
      <h2 id="abouth2">Shillon</h2>
      <button id="btn4">About Shillon</button>
      
      
    </div>
    
  </div>
    
    {% endblock one %} 
